psycopg2==2.9.9
psycopg2-binary==2.9.9
social-auth-app-django==5.4.0
social-auth-core==4.5.1
Django==5.0.1
django-cors-headers==4.3.1
django-phonenumber-field==7.3.0
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
djoser==2.2.2
docker==6.0.1
docopt==0.6.2
docutils==0.16
whitenoise==6.7.0
gunicorn==22.0.0
google-api-core==2.11.1
google-api-python-client==2.99.0
google-auth==2.16.3
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
dj-database-url==2.2.0